body {
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0,0.4);
  color:black;
}

.app:before{
  content:'';
  background: url('./assets/cloudFinal.jpg') no-repeat center center/cover;
  position: absolute;
  width:100%;
  height: 150%;
  top: 0;
  left: 0;
  z-index: -1;
  /* background: rgb(247, 245, 164); */
}

.app .search{
  display: flex;
  justify-content: right;
  position: relative;
  text-align: center;
  padding: 0px 100px 10px 0; 
  margin: 0 0 20px 0;
  font-weight: bold;
  /* border: solid; */
}

.app input{
  padding: .7rem 1,5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px sold rgba(255,255,255,0.8);
  background: rgba(255,255,255,0.1);
  text-align: center;
}

::placeholder{
  color: grey;
  font-weight: bold;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);
  text-shadow: 1.5px 1.5px white;
}

.bolds{
  font-weight: 700;
}

.top{
  display: flex;
  justify-content: space-between;
  padding:20px 0 20px 0;
  /* border: solid */
}

.signupTop{
  display: flex;
  justify-content: center;
  padding:50px 0 0 0;
  /* border: solid; */
  margin: 10px 0 0 0;
}

.signupName{
  display: flex;
  justify-content: center;
}

.loginButton{
  padding:10px;
  display: flex;
  justify-content: flex-end;
}

.appointment{
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  padding: 0 0 100px 0;
}

.container{
  font-size: 30px;
  color: rgb(105, 102, 102);
  padding: 0 0 0 0;
  /* border: solid; */
  /* margin: 5px 0 0 0; */
}



.upcoming{
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 100px 0;
  
}

.upcomingEach{
  border: thick double #32a1ce;
  padding: 0px 5px 100px 5px;
  margin: 20px 0 0 0;
}

.editAct{
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 100px 0;
  margin: 50px 0 100px 0;
}

.rightNavbar{
  padding: 10px 100px 0 0 ;
  display: flex;
  justify-content: space-evenly;

}
#rightNavButton{
  margin: 2px;
}

.leftNavbarGreeting{
  color: rgb(255, 255, 255);
  padding: 0 0 0 50px;
  text-shadow: 1.5px 1.5px rgb(61, 41, 241, 1);
}

.leftNavbar{
  padding: 0 0 0 100px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px rgb(61, 41, 241, 1);
}

.todo{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 0 0;
}


#creatActivity{
  display: flex;
  justify-content:center;
  margin: 10px 10px 10px 20px;
  /* margin: 0 49% 0 0; */
  /* padding: 0 0 0 100px; */
}

.todoLabel{
  margin: 5px
}

.picture{
  border-radius: 50%;
}

.userGreeting{
  display: flex;
  justify-content:center;
  margin: 10px;
}

.nameUser{
  margin: 10px;
}

.profile{
  text-align: center;
  margin: 10px;
  font-size: 30px;
  
}
.profileEdit{
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.todoListTitle{
  font-size: 50px;
  text-align: center;
  margin: 20px 0 30px 0;
  /* color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px rgb(61, 41, 241, 1); */
  color: rgb(62, 9, 255);
  text-shadow: 1.5px 1.5px rgb(255, 255, 255);
}